* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.grid {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;   
}
.square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    /* word-wrap: break-word; */
}
.clicked {
    background-color: rgb(100, 230, 230);
}
.new-game {
    font-size: 36px;
}